body {
  margin: 0px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

header {
  padding: 0px;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, rgb(99, 134, 247), rgb(45, 92, 246), rgb(5, 47, 184));
}

#picture {
  height: 140px;
  padding: 10px;
}

#header-info {
  flex: 1;
  padding: 10px;
  color: white;
}

#subTitle {
  color: white;
  margin: 5px;
  font-size: larger;
  font-weight: 500;
}

table {
  width: 100%;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #55c3f6;
}

#teams {
  width: 100%;
}

#teams th,
#teams td {
  border: 1px solid #29a7e1;
  padding: 5px;
}

footer {
  width: 100%;
  background: linear-gradient(45deg, rgb(99, 134, 247), rgb(45, 92, 246), rgb(5, 47, 184));
  padding: 10px;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

footer a,
footer a:visited {
  color: #f5f5f5;
  vertical-align: top;
  line-height: 20px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 0.2em;
  transition: 0.5s;
  font-weight: bold;
}

footer a:hover {
  background: white;
  color: rgb(45, 92, 246);
  transition: 0.5s;
}

input {
  width: 100%;
  margin: 5px 0px 5px 0px;
  border-radius: 10px;
  border: 3px solid navy;
  padding: 4px;
}

.remove-btn:hover {
  color: red;
  text-decoration: underline 1px red;
}

.edit-btn:hover {
  color: rgb(0, 159, 0);
  text-decoration: underline 1px rgb(0, 159, 0);
}
