* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Georgia";
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

#main {
  flex: 2;
  padding-top: 1%;
}

#header-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: #2c3333;
}

#pic {
  height: 140px;
  padding: 10px;
}

#header-info {
  flex: 1;
  padding: 10px;
  color: white;
}

#subTitle {
  color: white;
  margin: 5px;
  font-size: larger;
  font-weight: 500;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  padding: 12px 15px;
  border: 1px solid white;
  text-align: center;
  font-size: 20px;
}

table th,
tfoot {
  background-color: #2e4f4f;
  color: white;
}

table tbody tr {
  background-color: #cbe4de;
}

table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

input {
  width: 100%;
  border: 3px solid #cbe4de;
  padding: 4px;
}

.remove-btn:hover {
  color: red;
  text-decoration: underline 1px red;
}

.edit-btn:hover {
  color: rgb(10, 200, 10);
  text-decoration: underline 1px rgb(10, 200, 10);
}

footer {
  width: 100%;
  background: #2c3333;
  padding: 10px;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

footer a,
footer a:visited {
  color: #f5f5f5;
  vertical-align: top;
  line-height: 20px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 0.2em;
  transition: 0.5s;
  font-weight: bold;
}

footer a:hover {
  background: white;
  color: rgb(45, 92, 246);
  transition: 0.5s;
}
